@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


#root {
  overflow-x: hidden;
}

::placeholder {
  color: #fff;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}




body {
  box-sizing: border-box;
  background: #090222;
  font-family: 'Montserrat';
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Inter', sans-serif;
  font-family: 'Sora', sans-serif;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0 !important;
}

a {
  text-decoration: none;
}

/* Container Class Below */

.container {
  width: 90vw;
  max-width: 90vw;
  margin: 0 auto;
}

.wideContainer {
  width: 92vw;
  max-width: 95vw;
  margin: 0 auto;
}


@media screen and (min-width: 768px)and (max-width: 991px) {
  .container {
    max-width: 900px !important;
    width: 90vw;
    margin: 0 auto;

  }

  .wideContainer {
    max-width: 1000px;
    width: 95vw;
    margin: 0 auto;

  }

}


@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 90vw;
    max-width: 1100px !important;

  }

  .wideContainer {
    max-width: 1200px;
    width: 95vw;
    margin: 0 auto;

  }
}


@media screen and (min-width: 1200px) {
  .container {
    width: 92vw;
    max-width: 1350px !important;

  }

  .wideContainer {
    max-width: 1500px !important;
    width: 95vw;
    margin: 0 auto;

  }
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1450px !important;
    width: 90vw;
    margin: 0 auto;

  }

  .wideContainer {
    max-width: 1700px !important;
    width: 95vw;
    margin: 0 auto;

  }
}



.ant-dropdown {
  top: 72px !important;
}

.ant-dropdown-menu {
  background: rgba(43, 57, 79, 0.6) !important;
  mix-blend-mode: normal;
  border: 0.897391px solid rgba(172, 172, 194, 0.1);
  backdrop-filter: blur(100px);
  padding: 1rem 0.8rem 1.5rem !important;
  margin-top: 0.5rem;
  min-width: 150px;

}

.dropdown-link {
  color: #fff !important;
  font-size: 16px !important;
  opacity: 0.8;
  line-height: 1.2 !important;
  display: flex !important;
  margin: 0.3rem 0 !important;
  font-weight: 400 !important;
  font-family: 'Inter' !important;
  align-items: center;
}



.dropdown-link span {
  display: inline-block;

}

.dropdown-link svg {
  display: inline-block;
  margin-left: 0.5rem;
  color: #D1E9FF;
  font-size: 18px;
}

@media (max-width: 900px) {

  .ant-dropdown {
    top: 105px !important;
  }

  .ant-dropdown-menu {
    background: #1E2740 !important;
    padding: 1rem 0.8rem 1.5rem !important;
    border: 1px solid #D1E9FF;
    margin-top: 0.5rem;

  }

  .dropdown-link {
    color: #fff !important;
    font-size: 21px !important;
    line-height: 1.2 !important;
    display: flex !important;
    margin: 0.3rem 0 !important;
    font-weight: 500 !important;
    font-family: 'Poppins' !important;
    align-items: center;
  }


  /* .dropdown-link:hover{
  text-decoration: underline;
} */

  .dropdown-link span {
    display: inline-block;

  }

  .dropdown-link svg {
    display: inline-block;
    margin-left: 0.5rem;
    color: #D1E9FF;
    font-size: 18px;
  }
}


.mySwiper {
  color: #fff;
  padding-bottom: 6rem;
}


.swiper-pagination-bullet {
  background: #7AD8CD !important;
  width: 16px;
  height: 16px;
}


.bottom-effect {
  height: 220px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(180deg, #D67272 0%, #0057FF 100%);
  opacity: 0.20;
  filter: blur(300px);
  -webkit-filter: blur(300px);
  mix-blend-mode: screen;
  border-radius: 40%;
  transform: translateY(50px);
}

.glow-effects {
  position: relative;
  display: inline-block;

}


.glow-effects:hover::before {
  content: "";
  position: absolute;
  border-radius: 60px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 0.7;
  background: linear-gradient(90.51deg, #87F9C2 8.05%, #6BB1D9 92.6%);
  filter: blur(10px);
}